.error {
  width: 40vw;
  padding: 1.5rem;
  margin: 30vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #b379e9;
}